!!!
%html{:xhmns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

    %title ShotVisualizer - Basketball Scoring Analytics

    /Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script> %body

    = render 'shared/navbar'

    -# Tab bar

    .container

      #notification
      = render :partial => "shared/flash_messages", :locals => {:flash => flash}
      = yield

      -# Footer
      %hr
      %footer
        %p &copy; Guestelligent 2011

